<div class="container-fluid container-purchase"> 
  <div class="row purchase">
    <div class="col-md-4 transparent">
      <h2>This Is Your Purchase</h2>
      <p>We would like to express our great appreciation for you.  You get it.  Find 1 friend that also gets it, and pass it along.</p>
      <p>Your purchase is <%= @purchase.inspect %></p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>



