


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">About</a>
          <a class="navbar-brand" href="#">Subscribe</a>
          <a class="navbar-brand" href="#">Contact</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Get That Coffee Doe</h1>
        <p>Here's where we convince people that they want this shit 100%</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container-fluid">
      <!-- Example row of columns -->
      <div class="row about row-top-padding">
        <div class="col-md-4">
          <h2>About</h2>
          <p>We hand roast each pound of coffee.  That means your coffee is literally hand roasted and inspected to pass our rigorous standards.  We ship the coffee same day so that it arrives, ready for drinking, at peak flavor.  The process is intentional from start to finish so you get the best coffee and drinking experience possible.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <div class="row subscribe row-top-padding">  
        <div class="col-md-4">
          <h2>Subscribe</h2>
          <p>Mercury Coffee is $30 per month.  Because supply is so limited, we only ship one bag per month.  If you are interested in receiving more than one bage, please contact us and well be happy to se if we can accomodate you.<p>
          
          <p>
          <!-- <a class="btn btn-default" href="#" role="button">View details &raquo;</a> -->
			<%= form_tag charges_path, id: 'chargeForm' do %>
			    <script src="https://checkout.stripe.com/checkout.js"></script>
			    <%= hidden_field_tag 'stripeToken' %>
			    <%= hidden_field_tag 'stripeEmail' %>  
			    <button id="btn-buy" type="button" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span>Subscribe!</button>
			    <script>
			    var handler = StripeCheckout.configure({
			      key: '<%= Rails.configuration.stripe[:publishable_key] %>',
			      token: function(token, arg) {
			        document.getElementById("stripeToken").value = token.id;
			        document.getElementById("stripeEmail").value = token.email;
			        document.getElementById("chargeForm").submit();
			      }
			    });
			     document.getElementById('btn-buy').addEventListener('click', function(e) {
			      handler.open({
			        name: 'Mercury Coffee',
			        description: '12oz monthly subscription ($30)',
			        amount: 3000
			    });
			    e.preventDefault();
			   })
			  </script>
			<% end %>
          </p>

       </div>
      </div>
      <div class="row contact row-top-padding">  
        <div class="col-md-4">
          <h2>It's About You</h2>
          <p>Please contact us.  We roast Mercury Coffee because we love coffee and we think there are others with the same appreciation.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>  
     </div> 

      <hr>

      <footer>
        <p>&copy; 2015 Mercury Coffee, Inc.</p>
      </footer>
    </div> <!-- /container -->


  </body>
</html>
