
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="open-title">We hand roast 30 lbs of coffee a month.</h1>
      </div>
    </div>

    <div class="container-fluid container-home about" id="about">
      
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h2>Roasted 1lb at a time</h2>
          <p>We hand roast each pound of coffee.  That means your coffee is literally hand roasted.  We ship the coffee same day so that it arrives, ready for drinking, at peak flavor.</p>
          <p><a class="btn btn-default" href="#" role="button">What Makes 30 Frank Great&raquo;</a></p>
        </div>
      </div>

    </div>

    
    <div class="container-fluid container-home contact" id="contact">  
      <div class="row">  
        <div class="col-md-4 col-md-offset-4">
          <h2>It's About You</h2>
          <p>30 Frank is meant for folks who want a unique coffee ritual.  This isn't your everday coffee,  this is your special moments coffee</p>
          <p><a class="btn btn-default" href="#" role="button">Meet some of the 30 &raquo;</a></p>
        </div>
      </div>  
    </div> 


    <div class="container-fluid container-home subscribe" id="subscribe">  
          <div class="row">  
            <div class="col-md-4 col-md-offset-4">
              <h2>1/30</h2>
              <p>We limit 30 Frank to just 30 customers to ensure an authentic experience for you.  Join a community of folks who are looking for those perfect moments.<p>
              
              <p>
              <a class="btn btn-default" href="#" role="button">Join 30 Frank &raquo;</a>
    
              </p>

           </div>
          </div>
        </div>


    <div class="container-fluid">
      <hr>

      <footer>
        <p>&copy; 2016 30 Frank Coffee, Inc. <a href="mailto:christopher.kosednar@gmail.com">Contact Us</a></p> 
      </footer>
    </div> <!-- /container -->


  </body>
</html>
