
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="outline">
               <h1>We hand roast 30 lbs of coffee a month.</h1>
               <h2>FOR 30 PEOPLE</h2>
               <h5>Small batch, rare, single origin coffee, delivered within 48 hours of roasting.</h5>
               <p class="cta-button"><a class="btn btn-success btn-lg" href="/our-coffee" role="button">Start your Subscription</a></p>
            </div>   
          </div>
        </div>     
      </div>
    </div>

    <div class="container-fluid container-home about" id="about">
      
      <div class="row">
        <div class="col-md-6 frontpage-row-height about-column">
          <h2>We roast our coffee 1lb at a time</h2>
          <h4>We hand roast each pound of coffee.  That means your coffee is literally one of a kind.  We ship your coffee same day so that it arrives, ready for drinking, at peak flavor.</h4>
          <p><a class="btn btn-success" href="/our-coffee" role="button">What Makes 30 Frank Great</a></p>
        </div>
      </div>

    </div>

    
    <div class="container-fluid container-home you" id="contact">  
      <div class="row">  
        <div class="col-md-6 col-md-offset-6 you-column frontpage-row-height">
          <h2>It's About You (and 29 other people)</h2>
          <p>30 Frank is meant for folks who want a unique coffee ritual.  This isn't your everday coffee,  this is your special moments coffee</p>
          <p><a class="btn btn-success" href="/30-people" role="button">Meet some of the 30 &raquo;</a></p>
        </div>
      </div>  
    </div> 


    <div class="container-fluid container-home" id="subscribe">  
          <div class="row">  
            <div class="col-md-6 frontpage-row-height">
              <h2>We're opening to only 30 folks</h2>
              <p>We limit 30 Frank to just 30 people to ensure an authentic experience for you.  30 Frank is more than just exquiste coffee, it's a community of folks who are looking for those perfect moments.<p>
              
              <p>
              <a class="btn btn-success" href="/join-now" role="button">Join 30 Frank &raquo;</a>
    
              </p>

           </div>
          </div>
        </div>


    <div class="container-fluid">
      <hr>

      <footer>
        <p>&copy; 2016 30 Frank Coffee, Inc. <a href="mailto:christopher.kosednar@gmail.com">Contact Us</a></p> 
      </footer>
    </div> <!-- /container -->


  </body>
</html>
