<div class="container-fluid container-details" id="">
      
    <div class="row">
        <div class="col-md-3">
          <h2>Single Origin</h2>
          <p>Here at 30 Frank we source only the finest coffee from around the world.  Each month we choose a rare, single origin coffee to feature.  Your package will include a collectible keepsake with secrets about your coffee</p>
        </div>

        <div class="col-md-3">
          <h2>The Roast</h2>
          <p>We roast only City to Full City+ styles, or in regular speak, light roasts.  Light roasts retain the nuanced flavors of particular beans and pack a bigger punch. You never need more than 2 servings of this stuff in a day.  </p>
        </div>	

        <div class="col-md-3">
          <h2>Fresh to Death</h2>
          <p>We get you your coffee within 48 hours of roasting.  We recreate the authentic, timeless ritual of daily coffee roasting and provide you with the final product.  Artisinally roasted, fresh coffee. Enjoy.</p>
        </div>

        <div class="col-md-3">
          <h2>Savor the Moment</h2>
          <p>30 Frank coffee is perfect for 3 breweing methods:</p>
          	<ul>
	          	<li>Pour Over</li>
	          	<li>Chemex</li>
	          	<li>Aeropress</li>
	        </ul>	
        </div>


    </div>


</div>