      <div class="container-fluid sub-jumbotron" id="ourcoffee">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 sub-jumbo-column">
            <div class="outline">
               <h1>Roasted 1lb at a time</h1>
               <p>For people who notice the details</p>
               <p class="cta-button"><a class="btn btn-success btn-lg" href="/our-coffee" role="button">Start your Subscription</a></p>
            </div>   
          </div>
        </div>     
      </div>

<div class="container-fluid container-details" id="">
      
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <h2><span class="glyphicon glyphicon-grain"> </span>   Single Origin</h2>
          <p>Here at 30 Frank we source only the finest, fair trade, coffee from around the world.  Each month we choose a rare, single origin coffee to feature.  Your package will include a collectible keepsake with secrets about your coffee.</p>
        </div>

        <div class="col-md-4 col-md-offset-1">
          <h2><span class="glyphicon glyphicon-fire"> </span> The Roast</h2>
          <p>We roast only City to Full City+ styles, or in regular speak, light to Medium roasts.  Light roasts retain the nuanced flavors of the particular beans and pack a bigger caffeine punch. You shouldn't need more than 2 mugs of this stuff in a day.  </p>
        </div>	
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <h2><span class="glyphicon glyphicon-send"> </span>  Fresh to Death</h2>
          <p>We ship your coffee within 12 hours of roasting.  Why do we go through so much trouble? so you can have the best damn coffee.  Serioiusly, this is the best damn coffee.  We recreate the authentic, timeless ritual of daily coffee roasting and provide you with the final product.  Artisinally roasted, fresh coffee. Enjoy.</p>
        </div>

        <div class="col-md-4 col-md-offset-1">
          <h2><span class="glyphicon glyphicon-heart" ></span>   Savor the Moment</h2>
          <p>30Frank coffee is perfect for 3 breweing methods:</p>
          	<ul>
	          	<li>Pour Over</li>
	          	<li>Chemex</li>
	          	<li>Aeropress</li>
	        </ul>	
        </div>
    </div>


</div>