<div class="container-fluid container-details" id="">
      
    <div class="row">
        <div class="col-md-4">
          <h2>The First Time</h2>
          <p>30 Frank is $30 a month for 12oz of Coffee.  We ask that you pay for 3 months to join and then we bill you $30 a month starting on the 4th month.  You may cancel at anytime.  Your first shipment arrives in a 30 Frank storage container that you can refill each month when your coffee arrives</p>
        </div>

        <div class="col-md-4">
          <h2>Each Month</h2>
          <p>We send you your coffee at the start of each month, we roast on Saturday and ship the same day so that your coffee arrives Monday or Tuesday.  When your coffee arrives, immediately transfer it to your 30 Frank airtight container.  Each shipment will arrive with a custom card telling you about your specific coffee </p>
        </div>	

        <div class="col-md-4">
          <h2>Costs</h2>
          <p>30 Frank is $30 a month.  To join, each member pays for 3 months up front, and we begin billing you monthly on the 4th month.  You may cancel at anytime.  If you are not completely satisfied we will refund you for that month.</p>
        </div>

    </div>


</div>